version: "3.9"

services:
  mongo:
    image: mongo:8.2.4
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: iot-backend
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017
    restart: always

  frontend:
    build: ./frontend
    container_name: vue_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
